@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

:root{
  --font-family: "Golos Text", sans-serif;
  --dash-orange: #f75820;
  --dash-orange-light: #feefe9;
  --orange-accent: #ffa148;
  --orange-accent-light: #fff6ed;
  --font-1-light: #141414;
  --font-2-light: #595959;
  --font-3-light: #afb8b7;
  --line-light: #e6e6e6;
  --white: #ffffff;
  --background-light: #f9f9f9;
  --font-1-dark: #f0f1f4;
  --font-2-dark: #d0d0d0;
  --font-3-dark: #a3a3a5;
  --line-dark: #2c2d34;
  --dark: #121212;
  --background-dark: #242424;
}

@media screen and (min-width:769px){
    footer{
        background-color: var(--background-dark);
        font-family: var(--font-family);
        padding: 5em;
    }

    #container-footer{
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        
    }

    #container-logo{
        display: flex;
        align-items: center;
    }

    h1 {
        color: var(--white);
        font-size: 36px;
        font-weight: 600;
    }

    #footer-logo{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    p {
        color: var(--font-2-dark);
    }

    #footer-info{
        display: flex;
        justify-content: space-between;
        gap: 6em;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .li-title{
        color: var(--font-1-dark);
        font-weight: 500;
        text-transform: uppercase;
    }

    li {
        color: var(--font-3-dark);
    }

    #footer-container-terms{
        display: flex;
        padding: 1em;
        background-color: var(--dark);
        margin: 3em 10em 0;
        justify-content: space-between;
    }

    #footer-container-terms div {
        display: flex;
        gap: 1em;
    }

    #footer-container-terms a{
        color: var(--font-3-dark);
    }

    #footer-container-terms p {
        color: var(--font-3-dark);
    }
}