@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

:root{
  --font-family: "Golos Text", sans-serif;
  --dash-orange: #f75820;
  --dash-orange-light: #feefe9;
  --orange-accent: #ffa148;
  --orange-accent-light: #fff6ed;
  --font-1-light: #141414;
  --font-2-light: #595959;
  --font-3-light: #afb8b7;
  --line-light: #e6e6e6;
  --white: #ffffff;
  --background-light: #f9f9f9;
  --font-1-dark: #f0f1f4;
  --font-2-dark: #d0d0d0;
  --font-3-dark: #a3a3a5;
  --line-dark: #2c2d34;
  --dark: #121212;
  --background-dark: #242424;
}

@media screen and (min-width: 769px){
    header{
        font-family: var(--font-family);
        background-color: var(--dark);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1.5em;
    }

    #container-logo{
        display: flex;
        align-items: center;
    }

    h1 {
        color: var(--white);
        font-size: 36px;
        font-weight: 600;
    }

    #header-ul{
        display: flex;
        gap: 3em;
        flex-direction: row;
    }

    a{
        text-decoration: none;
        color: var(--font-2-dark);
    }

    #container-login{
        display: flex;
        align-items: center;
        gap: 2em;
    }

    #header-get-started{
        padding: 0.7em 1em;
        color: var(--white);
        background-color: var(--dash-orange);
        border-radius: 5px;
        display: flex;
        align-items: center;
    }
}